<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yazan Amer</title>
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri&display=swap" rel="stylesheet">
</head>
<body>

<div id="welcome-message-div">
    <h1 class="welcome-message"> Hello! <br> Welcome to Yazan's Center of Services. </h1>
    <p class="welcome-message"> — Hello yourself! I need a: </p>
</div>

<div id="right-half">
    <h2> Chemical Engineer</h2>
    <img class="cute-icon" alt="chem-e-icon" src="../static/chem.png">
</div>

<div id="left-half">
    <h2> Software Developer </h2>
    <img alt="software-icon" class="cute-icon" src="../static/programmer.png">
</div>

<a href="/software">
    <div id="hover-left">
        <h4 class="hover-text"> My Software Needs are Urgent! </h4>
    </div>
</a>

<a href="/chem">
    <div id="hover-right">
        <h4 class="hover-text"> My Factory Won't Run Itself! </h4>
    </div>
</a>

</body>
</html>
