/* HTML TAGS */
body {
color: var(--font_color);
font-family: 'El Messiri', sans-serif;
margin: 0;
font-size: 3vmin;
}

a {
color: var(--font_color);
}

/* Classes */
.cute-icon {
border-radius: 35%;
width: 20vmin;
height: auto;
background-color: var(--base_color);
margin-bottom: 0;
}
.cell {
position: absolute;
height: 30%;
width: 50%;
margin: 0;
text-align: center;
}
.cell h2 {
padding-top: 4%;
}

.left-col {
right: 50%;
}
.right-col {
left: 50%;
}

.top-row {
top: var(--height_of_top_div)
}
.bottom-row {
top: calc(var(--height_of_top_div) + var(--height_of_bottoms))
}


/* IDs */
#banner {
position: absolute;
width: 100%;
height: var(--height_of_top_div);
background-color: var(--second_color);
text-align: center;
overflow: auto;
}

#sq1 {background-color: var(--base_color)}
#sq2 {background-color: var(--first_color)}
#sq3 {background-color: var(--first_color)}
#sq4 {background-color: var(--base_color)}

/* HOVER */
#sq1:hover, #sq2:hover, #sq3:hover, #sq4:hover {
opacity: 0.85;
transition: 0.25s ease;
background-color: var(--font_color);
color: var(--base_color);
}

